.alert {
    position:fixed;
    top: 0;
    width: 100%;
}
.form-signin {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

#backToHome {
    position: fixed;
    left: 25px;
    bottom: 25px;
}

#backToHome a {
    color: #bdc3c7;
    text-decoration: none;
}

#backToHome a:hover {
    color: #95a5a6;
}