<table>
    <?php for($x = 0; $x < $size[0]; $x++) { ?>
    <tr>
        <?php for($y = 0; $y < $size[1]; $y++) { ?>
        <td>
            <?= ($cells[$x][$y]) ? 'O' : ' ' ?>
        </td>
        <?php } ?>
    </tr>
    <?php } ?>
</table>