@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 20px;
    text-align: center;
}

table {
    background: #ecf0f1;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

table tr td {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    text-align: center;
}

#actions {
    margin: 10px;
}

#actions form {
    display: inline;
}